= form_for (@affected_host) do |f|
  .form-group
    = f.label :host_fqdn
    = f.text_field :host_fqdn, class: "form-control", style: "width: 400px"

  .form-group
    = f.label :netbios_name
    = f.text_field :netbios_name, class: "form-control", style: "width: 400px"

  .form-group
    = f.label :mac_address
    = f.text_field :mac_address, class: "form-control", style: "width: 400px"

  .form-group
    = f.label :platform
    = f.text_field :platform, class: "form-control", style: "width: 400px"

  .form-group
    = f.label :operating_system
    = f.text_area :operating_system, class: "form-control", style: "width: 400px", rows: 3

  .form-group
    = hidden_field_tag :project_group_id, params[:project_group_id]
    = f.submit class: "btn btn-primary"
    /= button_tag class: "btn btn-primary" do
    /  %span.glyphicon.glyphicon-ok{aria_hidden: "true"}
    /  Update
    = link_to search_project_group_path(params[:project_group_id]), class: "btn btn-primary" do
      %span.glyphicon.glyphicon-chevron-left{aria_hidden: "true"}
      Back
