.panel.panel-default
  /.panel-heading
  /  %h3 Affected Hosts
  .panel-body

    %nav.navbar
      .container-fluid
        = form_tag search_affected_hosts_path(source_id: @source_file.id), method: :get, action: :index, class: "navbar-form navbar-right", role: "search" do
          .input-group
            = text_field_tag :search, "", class: "form-control", placeholder: "e.g. 172.1"
            .input-group-btn
              = button_tag 'Search', class: "btn btn-default", type: "submit" do
                %span.glyphicon.glyphicon-search{aria_hidden: true}
        /.nav.navbar-nav.navbar-right
        %p.navbar-text.navbar-right
          Search Host

    %table.table.table-striped
      %thead
        %tr{ bgcolor: '#ce93d8' }
          %th.center{ rowspan: 2 } No.
          %th.center{ rowspan: 2 } IP Address
          /%th.center{ rowspan: 2 } Scan Date
          %th.center{ rowspan: 2 } More Details
          %th.center{ colspan: 4 } Severity
        %tr
          %th.center.col-sm-1{ bgcolor: '#e57373' } Critical
          %th.center.col-sm-1{ bgcolor: '#ffb74d' } High
          %th.center.col-sm-1{ bgcolor: '#fff176' } Medium
          %th.center.col-sm-1{ bgcolor: '#81c784' } Low
      %tbody
        - @affected_hosts.each_with_index do |host, index|
          %tr
            %td.center= index + 1
            %td.center= link_to host.host_ip, show_vulnerability_path(host.id)
            /%td.center= host.scan_start
            %td.center
              = link_to "#index_#{host.id}", class: "btn btn-xs", data: { toggle: 'collapse' } do
                %span.glyphicon.glyphicon-triangle-bottom{aria_hidden: "true"}
            %td.center{ bgcolor: '#ffcdd2' }= host.vulnerabilities.where(severity: 4).count
            %td.center{ bgcolor: '#ffe0b2' }= host.vulnerabilities.where(severity: 3).count
            %td.center{ bgcolor: '#fff9c4' }= host.vulnerabilities.where(severity: 2).count
            %td.center{ bgcolor: '#c8e6c9' }= host.vulnerabilities.where(severity: 1).count
          %tr.collapse{ id: "index_#{host.id}" }
            %td{ colspan: '100%'}
              = render partial: 'details', locals: { host: host }
