.panel.panel-info
  .panel-heading
    %h4 Add New Host
  .panel-body
    = form_for @affected_host do |f|
      .field
        = f.hidden_field :source_file_id, value: params[:source_id]
      .field
        = f.label :host_ip
        = f.text_field :host_ip, class: "form-control", style: "width: 300px"

      .field
        = f.label :host_fqdn
        = f.text_field :host_fqdn, class: "form-control", style: "width: 300px"

      .field
        = f.label :mac_address
        = f.text_field :mac_address, class: "form-control", style: "width: 300px"

      .field
        = f.label 'Operating system'
        = f.text_field :operating_system, class: "form-control", style: "width: 300px"

      .action
        = f.submit 'Add Host', class: "btn btn-default"
        = link_to "Back", :back, { class: "btn btn-default" }
