.panel.panel-info
  .panel-heading
    %h4
      %span.glyphicon.glyphicon-option-vertical
      #{@vulnerability_name}
  .panel-body

    %table.table.table-striped
      %thead
        %tr{ bgcolor: '#e2e2e2' }
          /%th.center No.
          %th IP Address
          %th Hostname
          %th Platform
          %th Operating System
          %th.center Count
      %tbody
        /- @affected_hosts = @affected_hosts.joins(:vulnerabilities).where("plugin_id == #{params[:plugin_id]}").uniq(:host_ip)
        - @affected_hosts.each_with_index do |host, index|
          %tr
            /%td.center= index + 1
            %td
              = link_to host.host_ip, show_vulnerability_path(host, v_name: params[:v_name])
            %td= host.host_fqdn ||= host.netbios_name
            %td= host.platform
            %td= host.operating_system
            %td.center= host.vulnerabilities.where('vulnerability_name == ?', @vulnerability_name).count
    %div{ align: "center"}
      = will_paginate @affected_hosts

    = link_to 'Back', stats_project_group_path(id: params[:project_group_id]), class: "btn btn-primary"

= console
