.panel.panel-success
  .panel-heading
    %h4
      %span.glyphicon.glyphicon-option-vertical
      #{@name}
  .panel-body

    %table.table.table-striped
      %thead
        %tr{ bgcolor: '#e2e2e2' }
          /%th.center No.
          %th IP Address
          %th Hostname
          %th Platform
          %th Operating System
          %th.center Count
          %th
      %tbody
        /- @affected_hosts = @affected_hosts.joins(:vulnerabilities).where("plugin_id = #{params[:plugin_id]}").uniq(:host_ip)
        - @affected_hosts.each do |host|
          %tr
            /%td.center= index + 1
            %td= host.host_ip
            -# = link_to host.host_ip, show_vulnerability_path(host, v_name: params[:v_name], project_group_id: params[:project_group_id])
            %td= host.host_fqdn ||= host.netbios_name
            %td= host.platform
            %td= host.operating_system ||= 'Unidentified'
            %td.center= host.vulnerabilities.where('name = ?', @name).count
            %td
              -# = link_to affected_host_path(host.id, project_group_id: params[:id]), method: :delete, data: { confirm: 'Are you sure?' },
              -#   data: { toggle: "popover", trigger: "hover",
              -#   placement: "top", content: "Delete Host" } do
              -#   %span.glyphicon.glyphicon-remove{aria_hidden: "true"}

    %div{ align: "center"}
      = will_paginate @affected_hosts

    = link_to stats_project_group_path(id: params[:project_group_id]), class: "btn btn-primary" do
      %span.glyphicon.glyphicon-chevron-left{aria_hidden: "true"}
      Back
