.well
  .row
    .col-md-5
      %table

        %tbody
          %td.center
            - options = { height: '240px',
              title: { display: true, fontSize: 14, text: "Vulnerabilities by Severity" },
              legend: { position: 'right', fullWidth: false, labels: { boxWidth: 10 } }}
            = doughnut_chart get_pie_data(obj), options
    .col-md-5
      %table

        %tbody
          %td.center
            - options = { height: '280px',
              title: { display: true, fontSize: 14, text: "Severity by Vulnerability Group" },
              legend: { position: 'right', fullWidth: false, labels: { boxWidth: 10 } },
              scale: { ticks: { beginAtZero: true } } }
            = radar_chart get_radar_data(obj), options
    .col-md-2
      .panel.panel-info
        .panel-heading.center
          %strong Security Health
        .panel-body
          - @score = get_score_card(obj)
          - case @score.to_i
            - when 0..3
              %p.circle.circle_green
                %span= get_score_card(obj)
            - when 4..7
              %p.circle.circle_yellow
                %span= get_score_card(obj)
            - when 8..10
              %p.circle.circle_red
                %span= get_score_card(obj)
        .panel-footer
          %li 0-3  : Good
          %li 4-7  : Moderate
          %li 7-10 : Poor
