= render 'shared/errors_alert', obj: @vulnerability

-# = form_for @vulnerability, url: { action: :create } do |f|
= form_for @vulnerability, url: { action: :update } do |f|
  .row
    .col-md-12
      .form-group
        = f.label :vulnerability_name, "Vulnerability Name"
        = f.text_field :vulnerability_name, class: "form-control"
  .row
    .col-md-3
      .well
        .form-group
          = f.label :plugin_family, 'Group', class: "control-label"
          = f.text_field :plugin_family, class: "form-control"
        .form-group
          = f.label :cve, 'CVE'
          = f.text_field :cve, class: "form-control"
        .form-group
          = f.label :cvss_score, 'CVSS score'
          = f.text_field :cvss_score, class: "form-control"
      .well
        .form-group
          = f.label :port
          = f.text_field :port, class: "form-control"
        .form-group
          = f.label :service_name
          = f.text_field :service_name, class: "form-control"
        .form-group
          = f.label :protocol
          = f.select :protocol,
            options_for_select([['TCP', 'tcp'], ['UDP', 'udp'], ['ICMP', 'icmp'], ['802.11']], selected: @vulnerability.protocol),
            {},
            { class: "form-control" }
        .form-group
          = f.label :severity
          = f.select :severity,
            options_for_select([['Critical',4], ['High', 3], ['Medium', 2], ['Low', 1]], selected: @vulnerability.severity),
            {},
            { class: "form-control" }
    .col-md-9

      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control", rows: 6
      .form-group
        = f.label :synopsis
        = f.text_area :synopsis, class: "form-control", rows: 4
      .form-group
        = f.label :solution
        = f.text_area :solution, class: "form-control", rows: 4
      .form-group
        = f.label :output
        = f.text_area :output, class: "form-control", rows: 7

      .form-group
        .col-md-12{ align: "right"}
          -# = hidden_field_tag :project_group_id, params[:project_group_id]
          -# = hidden_field_tag :affected_host_id, @affected_host.id
          = button_tag name: nil, class: "btn btn-primary" do
            %span.glyphicon.glyphicon-save{aria_hidden: "true"}
            Save
          = link_to :back, class: "btn btn-primary" do
            %span.glyphicon.glyphicon-chevron-left{aria_hidden: "true"}
            Back
