.panel.panel-info
  .panel-heading
    %table.table
      %thead
        %th IP Address / Hostname
        %th Operating System
        %th.center{ bgcolor: '#ffcdd2' } Critical
        %th.center{ bgcolor: '#ffe0b2' } High
        %th.center{ bgcolor: '#fff9c4' } Medium
        %th.center{ bgcolor: '#c8e6c9' } Low
        %th.center{ bgcolor: '#d2d2d2' } Total
      %tbody
        - vuln_by_host = @vulnerabilities.group(:severity).count
        %td= @affected_host.host_ip + " #{@affected_host.host_fqdn ||= @affected_host.netbios_name}"
        %td= @affected_host.operating_system
        %td.center= vuln_by_host[4] ||= 0
        %td.center= vuln_by_host[3] ||= 0
        %td.center= vuln_by_host[2] ||= 0
        %td.center= vuln_by_host[1] ||= 0
        %td.center= vuln_by_host.values.sum ||= 0
  .panel-body
    /%div{ align: "center" }
    /  = will_paginate
    %table.table.table-hover
      %thead
        %tr{ bgcolor: '#efefef' }
          %th.center VID
          %th Vulnerability Name
          %th Services
          %th Group
          %th.center Severity
          %th.center Status
          %th
      %tbody
        - @vulnerabilities.each do |vulnerability|
          - @source_id = vulnerability.affected_host.source_file_id
          %tr
            %td.center= vulnerability.id
            %td.col-md-4= vulnerability.vulnerability_name
            %td= "#{vulnerability.port} / #{vulnerability.service_name} / #{vulnerability.protocol}"
            %td= vulnerability.plugin_family
            - case vulnerability.severity
              - when 1
                %td.center{ bgcolor: '#c8e6c9', style: "vertical-align:middle" } Low
              - when 2
                %td.center{ bgcolor: '#fff9c4', style: "vertical-align:middle" } Medium
              - when 3
                %td.center{ bgcolor: '#ffe0b2', style: "vertical-align:middle" } High
              - when 4
                %td.center{ bgcolor: '#ffcdd2', style: "vertical-align:middle" } Critical
              - else
                %td.center
            /%td.center
            - case vulnerability.remedy_action.status
              - when 1
                %td.center{ bgcolor: 'red', style: "vertical-align:middle" } Open
              - when 2
                %td.center{ bgcolor: 'yellow', style: "vertical-align:middle" } In-progress
              - when 3
                %td.center{ bgcolor: 'green', style: "vertical-align:middle" } Closed
            -# %td.center= "#{time_ago_in_words(vuln.last_seen)} ago"
            %td.center
              = link_to edit_remedy_action_path(vulnerability, project_group_id: params[:project_group_id]),
                data: { toggle: "popover", trigger: "hover", content: "Remedy Status",
                placement: "top" } do
                %i.glyphicon.glyphicon-tasks{aria_hidden: "true"}
              = link_to edit_vulnerability_path(vulnerability, project_group_id: params[:project_group_id]),
                data: { toggle: "popover", trigger: "hover", content: "View Details",
                placement: "top" } do
                %i.glyphicon.glyphicon-edit{aria_hidden: "true"}
              = link_to vulnerability_path(vulnerability, project_group_id: params[:project_group_id]),
                :method => :delete,
                data: { toggle: "popover", trigger: "hover", content: "Delete Item",
                placement: "top", confirm: 'Are you sure?' } do
                %i.glyphicon.glyphicon-remove{aria_hidden: "true"}
    %div{ align: "center" }
      = will_paginate
  .panel-footer
    .form-group
      -# = link_to search_project_group_path(params[:project_group_id]), class: "btn btn-primary" do
      -#   %span.glyphicon.glyphicon-chevron-left{aria_hidden: "true"}
      -#   Back
      = link_to new_vulnerability_path(@affected_host, project_group_id: params[:project_group_id]), class: "btn btn-primary" do
        %span.glyphicon.glyphicon-plus{aria_hidden: "true"}
        Add New Vulnerability
      = link_to report_generate_path(host_id: @affected_host, project_group_id: params[:project_group_id], format: :pdf), target: '_blank',
        class: "btn btn-primary" do
        %span.glyphicon.glyphicon-plus{aria_hidden: "true"}
        Export PDF Report
      /= link_to 'Add New Vulnerability', new_vulnerability_path(@affected_host, project_group_id: params[:project_group_id]), class: "btn btn-primary"
      /= link_to 'Back', search_project_group_path(params[:project_group_id]), class: "btn btn-primary"
