
- affected_host = @host.host_ip
- if @host.host_fqdn?
  - affected_host << " (#{@host.host_fqdn})"
- elsif @host.netbios_name?
  - affected_host << " (#{@host.netbios_name})"

.panel.panel-default
  .panel-heading.center
    %h3= affected_host
  .panel-body
    %table.table.table-bordered
      %thead
        %tr{ bgcolor: '#ce93d8' }
          %th.center VID
          %th Vulnerability Name
          %th.center Services
          %th.center Severity
          %th.center Last Seen
          -# %th.center Output
          %th.center Status
      %tbody
        - @vulns.each do |vuln|
          %tr
            %td.center= vuln.id
            %td.col-md-5= vuln.plugin_name
            %td.center= "#{vuln.port} / #{vuln.svc_name} / #{vuln.protocol}"
            - case vuln.severity
              - when 1
                %td.center{ bgcolor: '#c8e6c9' } Low
              - when 2
                %td.center{ bgcolor: '#fff9c4' } Medium
              - when 3
                %td.center{ bgcolor: '#ffe0b2' } High
              - when 4
                %td.center{ bgcolor: '#ffcdd2' } Critical
            %td.center= "#{time_ago_in_words(vuln.last_seen)} ago"
            -# %td.col-md-5.center
            -#   - if vuln.output?
            -#     %pre= vuln.output
            %td.center
              - case vuln.remedy_action.status
                - when 1
                  OPEN
                - when 2
                  IN-PROGRESS
                - when 3
                  CLOSED
