
- affected_host = @host.host_ip
- if @host.host_fqdn?
  - affected_host << " (#{@host.host_fqdn})"
- elsif @host.netbios_name?
  - affected_host << " (#{@host.netbios_name})"

.panel.panel-info
  .panel-heading
    %h4
      %span.glyphicon.glyphicon-option-vertical
      #{affected_host}
  .panel-body
    /%div{ align: "center" }
    /  = will_paginate
    %table.table.table-hover
      %thead
        %tr{ bgcolor: '#efefef' }
          %th.center VID
          %th Vulnerability Name
          %th Services
          %th Group
          %th.center Severity
          %th.center Status
          %th
      %tbody
        - @vulnerabilities.each do |vulnerability|
          - @source_id = vulnerability.affected_host.source_file_id
          %tr
            %td.center= vulnerability.id
            %td.col-md-4= vulnerability.vulnerability_name
            %td= "#{vulnerability.port} / #{vulnerability.service_name} / #{vulnerability.protocol}"
            %td= vulnerability.plugin_family
            - case vulnerability.severity
              - when 1
                %td.center{ bgcolor: '#c8e6c9', style: "vertical-align:middle" } Low
              - when 2
                %td.center{ bgcolor: '#fff9c4', style: "vertical-align:middle" } Medium
              - when 3
                %td.center{ bgcolor: '#ffe0b2', style: "vertical-align:middle" } High
              - when 4
                %td.center{ bgcolor: '#ffcdd2', style: "vertical-align:middle" } Critical
              - else
                %td.center
            /%td.center
            - case vulnerability.remedy_action.status
              - when 1
                %td.center{ bgcolor: 'red', style: "vertical-align:middle" } Open
              - when 2
                %td.center{ bgcolor: 'yellow', style: "vertical-align:middle" } In-progress
              - when 3
                %td.center{ bgcolor: 'green', style: "vertical-align:middle" } Closed
            -# %td.center= "#{time_ago_in_words(vuln.last_seen)} ago"
            %td.center
              = link_to edit_remedy_action_path(vulnerability),
                data: { toggle: "popover", trigger: "hover", content: "Remedy Action",
                placement: "top" } do
                %i.glyphicon.glyphicon-tasks{aria_hidden: "true"}
              = link_to edit_vulnerability_path(vulnerability),
                data: { toggle: "popover", trigger: "hover", content: "Update",
                placement: "top" } do
                %i.glyphicon.glyphicon-edit{aria_hidden: "true"}
              = link_to vulnerability_path(vulnerability), :method => :delete,
                data: { toggle: "popover", trigger: "hover", content: "Delete Item",
                placement: "top", confirm: 'Are you sure?' } do
                %i.glyphicon.glyphicon-remove{aria_hidden: "true"}
    %div{ align: "center" }
      = will_paginate
  .panel-footer
    /= link_to 'Back', affected_hosts_path(source_id: @source_id), class: "btn btn-primary"
    = link_to 'Back', affected_hosts_path(source_id: @host.source_file_id), class: "btn btn-primary"

= console
