
- affected_host = @host.host_ip
- if @host.host_fqdn?
  - affected_host << " (#{@host.host_fqdn})"
- elsif @host.netbios_name?
  - affected_host << " (#{@host.netbios_name})"

.panel.panel-default
  .panel-heading.center
    %h3= affected_host
  .panel-body
    %table.table.table-bordered
      %thead
        %tr{ bgcolor: '#ce93d8' }
          %th.center VID
          %th Vulnerability Name
          %th.center Services
          %th.center Severity
          %th.center Status
          %th.center Options
      %tbody
        - @vulns.each do |vuln|
          %tr
            %td.center= vuln.id
            %td.col-md-5= vuln.vulnerability_name
            %td.center= "#{vuln.port} / #{vuln.service_name} / #{vuln.protocol}"
            - case vuln.severity
              - when 1
                %td.center{ bgcolor: '#c8e6c9' } Low
              - when 2
                %td.center{ bgcolor: '#fff9c4' } Medium
              - when 3
                %td.center{ bgcolor: '#ffe0b2' } High
              - when 4
                %td.center{ bgcolor: '#ffcdd2' } Critical
              - else
                %td.center
            %td.center
              - case vuln.remedy_action.status
                - when 1
                  OPEN
                - when 2
                  IN-PROGRESS
                - when 3
                  CLOSED
            -# %td.center= "#{time_ago_in_words(vuln.last_seen)} ago"
            %td.center
              = link_to edit_vulnerability_path(vuln),
                data: { toggle: "popover", trigger: "hover", content: "Edit",
                placement: "top" } do
                %i.glyphicon.glyphicon-edit{aria_hidden: "true"}
              &nbsp;
              = link_to vulnerability_path(vuln), :method => :delete,
                data: { toggle: "popover", trigger: "hover", content: "Delete this item",
                placement: "top", confirm: 'Are you sure?' } do
                %i.glyphicon.glyphicon-trash{aria_hidden: "true"}
