= form_for @project_group, remote: true, html: {id: 'project_group_items'} do |f|
  .panel.panel-info
    .panel-heading
      = f.label :name, 'Project Name'
      = f.text_field :name, class: "form-control"
    .panel-body
      %table.table
        %thead
          %tr
            %th.col-md-1
            %th Source Name
            %th Filename
            %th
        %tbody
          - @source_files.each do |source_file|
            %tr
              %td= f.check_box :source_file_ids, { multiple: true }, source_file.id, false
              %td= source_file.title
              %td= source_file.filename
              %td
                = link_to  affected_hosts_path(source_id: source_file.id),
                  data: { toggle: "popover", trigger: "hover",
                  placement: "top", content: "Show List" } do
                  %span.glyphicon.glyphicon-list{aria_hidden: "true"}
    .panel-footer
      = link_to 'Show Stats', stats_project_group_path(@project_group), class: "btn btn-primary"
      = link_to 'Back', project_groups_path, class: "btn btn-primary"
