= render 'shared/errors_alert', obj: @project_group

= form_for @project_group, remote: true, html: {id: 'project_group_items'} do |f|
  .panel.panel-success
    .panel-heading
      = f.label :name, 'Project Name'
      = f.text_field :name, class: "form-control", style: "width:300px"
    .panel-body
      %table.table
        %thead
          %tr
            %th.col-md-1
            %th Source Name
            %th Filename
            %th Date Created
        %tbody
          - @source_files.each do |source_file|
            %tr
              %td= f.check_box :source_file_ids, { multiple: true }, source_file.id, false
              %td= source_file.title
              %td= source_file.filename
              %td= source_file.created_at

    .panel-footer
      = link_to stats_project_group_path(@project_group), class: "btn btn-primary" do
        %span.glyphicon.glyphicon-stats{aria_hidden: "true"}
        Show Stats
      /= link_to 'Back', project_groups_path, class: "btn btn-primary"
      = link_to project_groups_path, class: "btn btn-primary" do
        %span.glyphicon.glyphicon-chevron-left{aria_hidden: "true"}
        Back
