.panel.panel-info
  .panel-heading
    %h4
      %span.glyphicon.glyphicon-search
      Search Host
  .panel-body
    %nav.navbar.grey-bgcolor
      .container-fluid
        = form_tag search_project_group_path(params[:id]), method: :get, action: :search, class: "navbar-form navbar-right", role: "search" do
          .input-group
            = text_field_tag :search, "", class: "form-control", placeholder: "e.g. 172.16"
            .input-group-btn
              = button_tag 'Search', class: "btn btn-default", type: "submit" do
                %span.glyphicon.glyphicon-search{aria_hidden: true}
        %p.navbar-text.navbar-right
          %b Search Host
    %table.table.table-hover
      %thead{ bgcolor: '#efefef' }
        %tr
          %th IP Address
          %th Hostname
          %th Platform
          %th Operating System
          %th{colspan: 2}
      %tbody
        - @affected_hosts.each do |host|
          %tr
            %td= link_to host.host_ip, edit_affected_host_path(host,project_group_id: params[:id])
            %td= host.host_fqdn ||= host.netbios_name
            %td= host.platform.capitalize
            %td= host.operating_system ||= 'Unidentified'
            %td
              /- if host.vulnerabilities.count != 0
              = link_to show_vulnerability_path(host.id, project_group_id: params[:id]) do
                %span.glyphicon.glyphicon-list{aria_hidden: "true"}
            %td
              = link_to affected_host_path(host.id, project_group_id: params[:id]), method: :delete, data: { confirm: 'Are you sure?' } do
                %span.glyphicon.glyphicon-remove{aria_hidden: "true"}

    %div{ align: "center" }
      = will_paginate @affected_hosts

  .panel-footer
    = link_to 'Back to Main Menu', root_path, class: "btn btn-primary"
