/%p#notice= notice

.panel.panel-info
  .panel-body
    .well
      %span.glyphicon.glyphicon-option-vertica
      = @project_group.name

    /= form_for @project_group, remote: true, method: :put, html: { id: 'edit_form' } do |f|
    = form_for @project_group, remote: true, html: {id: 'project_group_items'} do |f|
      .well
        = f.text_field :name, class: "form-control"
      %table.table
        %thead
          %tr
            %th.col-md-1
            %th Source Name
            %th Filename
        %tbody
          - @source_files.each do |source_file|
            %tr
              %td= f.check_box :source_file_ids, { multiple: true }, source_file.id, false
              %td= source_file.title
              %td= source_file.filename

      .panel-footer
        .actions
          = link_to 'Back', project_groups_path, class: "btn btn-primary"
