/# AffectedHost.where(source_file_id: pg.source_file_ids)
- @affected_hosts = AffectedHost.where(source_file_id: @project_group.source_file_ids)

.panel.panel-default
  .panel-heading
    %h4.center= @project_group.name
  .panel-body
    = render partial: 'widgets/charts', locals: { obj: @affected_hosts }
    .row
      .col-xs-6
        = render partial: 'widgets/total_vulns', locals: { obj: @affected_hosts }

      .col-xs-6
        /= render partial: 'widgets/uniq_vulns', locals: { obj: @affected_hosts }
        = render partial: 'widgets/total_remedy_actions', locals: { obj: @affected_hosts }

    .row
      .col-xs-6
        = render partial: 'widgets/top_vulns', locals: { obj: @affected_hosts }

      .col-xs-3
        = render partial: 'widgets/top_hosts', locals: { obj: @affected_hosts }

      .col-xs-3
        = render partial: 'widgets/top_ports', locals: { obj: @affected_hosts }
