= form_for @source_file, multipart: true do |f|
  - if @source_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@source_file.errors.count, "error")} prohibited this source_file from being saved:"
      %ul
        - @source_file.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control input-sm", style: "width: 300px"
  - if (controller.action_name != 'edit')
    .form-group
      = f.label :data, "Browse", class: "btn btn-primary"
      = f.file_field :data, class: "form-control", style: "display:none"
      = button_tag data: { disable_with: "Please wait ..." }, class: "btn btn-primary" do
        %span.glyphicon.glyphicon-plus{aria_hidden: "true"}
        Create New Source
  - else
    .form-group
      = button_tag class: "btn btn-primary" do
        %span.glyphicon.glyphicon-ok{aria_hidden: "true"}
        Update
      = link_to source_files_path, class: "btn btn-primary" do
        %span.glyphicon.glyphicon-chevron-left{aria_hidden: "true"}
        Back
