= form_for @source_file, multipart: true do |f|
  .panel.panel-default
    .panel-heading
      %h3
        %span.glyphicon.glyphicon-upload
        &nbsp;Upload Source File
    .panel-body
      - if @source_file.errors.any?
        #error_explanation
          %h2= "#{pluralize(@source_file.errors.count, "error")} prohibited this source_file from being saved:"
          %ul
            - @source_file.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.label :title
        = f.text_field :title, class: "form-control input-sm", style: "width: 300px"
      - if (controller.action_name != 'edit')
        .form-group
          = f.label :data, "Browse", class: "btn btn-primary"
          = f.file_field :data, class: "form-control", style: "display:none"
    .panel-footer
      = f.submit  data: { disable_with: "Please wait ..." }, class: "btn btn-primary"
      = link_to 'Back', source_files_path, class: "btn btn-primary"
