.panel.panel-success
  .panel-heading
    %h3
      %span.glyphicon.glyphicon-option-vertical
      Generate Report
  .panel-body
    = form_for :report, url: { action: :generate_custom } do |f|
      .row
        .col-md-6
          .panel.panel-default
            .panel-heading
              %strong Severity
            .panel-body
              .col-md-3
                .form-group
                  .checkbox
                    %label
                      = f.check_box :critical, { checked: true, type: 'checkbox' }, 4, nil
                      &nbsp;Critical
              .col-md-3
                .form-group
                  .checkbox
                    %label
                      = f.check_box :high, { checked: true, type: 'checkbox' }, 3, nil
                      &nbsp;High
              .col-md-3
                .form-group
                  .checkbox
                    %label
                      = f.check_box :medium, { checked: true, type: 'checkbox' }, 2, nil
                      &nbsp;Medium
              .col-md-3
                .form-group
                  .checkbox
                    %label
                      = f.check_box :low, { checked: true, type: 'checkbox' }, 1, nil
                      &nbsp;Low

        .col-md-6
          .list-group
            .list-group-item
              = f.submit 'PDF', onClick: "$(this).closest('form').attr('action',
                '#{ generate_custom_project_group_report_path(format: :pdf)}')",
                class: "btn btn-raised btn-primary"
              Generate PDF Report (Selected Hosts Only)
            .list-group-item
              = f.submit 'XLS', onClick: "$(this).closest('form').attr('action',
                '#{ generate_custom_project_group_report_path(@project_group, format: :xlsx)}')",
                class: "btn btn-raised btn-primary"
              Generate Spreadsheet Report (Selected Hosts)
            .list-group-item
              = f.submit 'XLS', onClick: "$(this).closest('form').attr('action',
                '#{ generate_custom_project_group_report_path(@project_group, options: 'all', format: :xlsx)}')",
                class: "btn btn-raised btn-primary"
              Generate Spreadsheet Report (All Hosts)
            .list-group-item
              = f.submit 'XML', onClick: "$(this).closest('form').attr('action',
                '#{ generate_custom_project_group_report_path(@project_group, format: :xml)}')",
                class: "btn btn-raised btn-primary"
              Generate XML Report (Selected Hosts)
            .list-group-item
              = f.submit 'XML', onClick: "$(this).closest('form').attr('action',
                '#{ generate_custom_project_group_report_path(@project_group, options: 'all', format: :xml)}')",
                class: "btn btn-raised btn-primary"
              Generate XML Report (All Hosts)
  .panel-footer
    = link_to 'Back', search_reports_path(@project_group), class: "btn btn-raised btn-primary"
