.panel.panel-default
  .panel-heading
    %h3 Report Options
  .panel-body
    = form_for :report, url: { action: :generate_custom } do |f|

      .row
        .col-md-6
          -# .panel.panel-default
          -#   .panel-body
          -#     .col-md-6
          -#       = f.label 'Selected Host'
          -#       %span.pull-right
          -#         = f.radio_button :selected_host, "selected_host", "yes"
          -#     .col-md-6
          -#       = f.label 'All Host'
          -#       %span.pull-right
          -#         = f.radio_button :selected_host, "selected_host", "no"
          .panel.panel-default
            .panel-body
              .col-md-3
                = f.label 'Critical'
                %span.pull-right
                  = f.check_box :critical, { checked: true }, 4, nil
              .col-md-3
                = f.label 'High'
                %span.pull-right
                  = f.check_box :high, { checked: true }, 3, nil
              .col-md-3
                = f.label 'Medium'
                %span.pull-right
                  = f.check_box :medium, { checked: true }, 2, nil
              .col-md-3
                = f.label 'Low'
                %span.pull-right
                  = f.check_box :low, { checked: true }, 1, nil

        .col-md-6
          .list-group
            .list-group-item
              = f.submit 'Generate', onClick: "$(this).closest('form').attr('action',
                '#{ generate_custom_project_group_report_path(format: :pdf)}')",
                class: "btn btn-primary"
              Generate PDF Report (Selected Hosts)
            .list-group-item
              = f.submit 'Generate', onClick: "$(this).closest('form').attr('action',
                '#{ generate_custom_project_group_report_path(@project_group, format: :xlsx)}')",
                class: "btn btn-primary"
              Generate Spreadsheet Report (Selected Hosts)
            .list-group-item
              = f.submit 'Generate', onClick: "$(this).closest('form').attr('action',
                '#{ generate_custom_project_group_report_path(@project_group, options: 'all', format: :xlsx)}')",
                class: "btn btn-primary"
              Generate Spreadsheet Report (All Hosts)
  .panel-footer
    = link_to 'Back', search_reports_path(@project_group), class: "btn btn-primary"
