.panel.panel-default
  .panel-heading
    %h3 Custom Report
  .panel-body
    = form_for :report, url: { action: :generate_custom }, target: '_blank' do |f|

      .row
        .col-md-6
          .panel.panel-default
            .panel-body
              .col-md-3
                = f.label 'Critical'
                %span.pull-right
                  = f.check_box :critical, { checked: true }, 4, nil
              .col-md-3
                = f.label 'High'
                %span.pull-right
                  = f.check_box :high, { checked: true }, 3, nil
              .col-md-3
                = f.label 'Medium'
                %span.pull-right
                  = f.check_box :medium, { checked: true }, 2, nil
              .col-md-3
                = f.label 'Low'
                %span.pull-right
                  = f.check_box :low, { checked: true }, 1, nil
      .form-group
        = f.submit 'Generate PDF Report', onClick: "$(this).closest('form').attr('action',
          '#{ generate_custom_reports_path(format: :pdf)}')",
          class: "btn btn-primary"
        = f.submit 'Generate Excel Report', onClick: "$(this).closest('form').attr('action',
          '#{ generate_custom_project_group_report_path(@project_group, format: :xlsx)}')",
          class: "btn btn-primary"
        = link_to 'Back', :back, class: "btn btn-primary"
