!!!
%html
  %head
    %title VulnTracker
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{:bgcolor => "#E6E6FA"}
    .container
      = render partial: 'layouts/navtopbar'
      -# = render partial: 'shared/errors_alert'
      = yield

- if Rails.env.development?
  = console
